html {
    font-family: Helvetica;

}


.lks {background-color: rgb(235, 231, 231);}
.rts {background-color: rgb(235, 231, 231);}

.ü1 {text-align: center; 
padding: 20px; background-color: rgb(145, 144, 144);}

.ü2 {background-color: rgb(247, 239, 239);}
.ü3 {background-color: rgb(204, 192, 177);}
.col-6 {align-items:left;}
.col-2 {align-items:left}